

.container {
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/assets/images/background-start.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}