@import 'src/styles/variables.scss';

.container {
    width: 100%;
    height: 300px;
    position: relative;
}

.character {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: 0px;
}

.avatar {
    border: 3px solid $orange;
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 160px;
    position: relative;
    overflow: hidden;
    background: $purpleGradient;
    
    &__img {
        position: absolute;
        width: 100%;
        height: 105%;
    }
}

.info {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.bar {
    width: 100%;
    height: 16px;
    border-radius: 20px;
    background: $white;
    position: relative;
    margin-bottom: 20px;

    &__text {
        position: relative;
        z-index: 15;
        font-size: 12px;
        margin-left: 100px;
    }

    &::after {
        position: absolute;
        content: '';
        background: $orangePurpleGraient;
        width: 50%;
        z-index: 10;
        height: 16px;
        border-radius: 20px;
        top: 0;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;

    &__name {
        font-size: 24px;
        font-weight: 700;
    }
}