@import '../../../../styles/variables.scss';

.button {
    border-radius: 40px;
    background: $purpleGradient;
    box-shadow: 1px 1px 0px 0px $violet;
    padding: 8px 16px;
    height: 40px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: $white;
    font-weight: 600;
}