@import 'src/styles/variables.scss';

.container {
    width: 80%;
    height: 76vh;
    padding: 2%;
    background: $purpleGradient;
    position: absolute;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(255, 4, 209, 0.4);
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        transition: all 200ms ease;
}