@font-face {
    font-family: "Manrope";
    font-display: swap;
    src: url("../../public/assets/fonts/Manrope.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    font-display: swap;
    src: url("../../public/assets/fonts/Manrope.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    font-display: swap;
    src: url("../../public/assets/fonts/Manrope.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    font-display: swap;
    src: url("../../public/assets/fonts/Manrope.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}