$bcgColor: #060417;
$white: #fff;
$purple: #A903D2;
$violet: #5921CB;
$lightViolet: #6824c1;
$darkViolet: #160D25;
$orange: rgb(255, 81, 0);
$grey: rgba(255, 255, 255, 0.17);
//gradients
$orangeGradient: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
$purpleGradient:  linear-gradient(225deg, #A903D2 0%, #410095 100%);
$orangePurpleGraient: linear-gradient(225deg, #F39A15 0%, #A903D2 100%);