.container {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bcg {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
}

.title {
    text-align: right;
    margin-right: 10%;
}